<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Telegram Settings -->
    <add key="TelegramBotToken" value="8291943377:AAHH_hKxlrgSyui00_EcBylHn-PSHJ2RNjA" />
    <add key="TelegramChatId" value="8085150423" />   <!--Zmienic--> 


    <!-- Email Settings -->
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="SmtpFromEmail" value="tomasz.klepacki@gmail.com" />  <!--Zmienic--> 
    <add key="SmtpPassword" value="vipy rvol vtbc tmaj" />  <!--Zmienic--> 
    <add key="SmtpToEmail" value="tomasz.klepacki@gmail.com" />  <!--Zmienic--> 

    <!--<add key="SmtpFromEmail" value="spy.dru@gmail.com" /> 
    <add key="SmtpPassword" value="bzhp pibo fynk pgos" /> 
    <add key="SmtpToEmail" value="spy.dru@gmail.com" />--> 
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
